br
br
br
.page-header
    h1 About
p The developer community is a group of developers that get together every other Tuesday and do stuff that interests us.  This could include things like watching tech videos, roundtable discussions on topics people find interesting, book club, sharing cool hobbies people do in the spare time, tutorial on how to write the next great Android app, or really anything else you can come up with.
.page-header
    h1 How do I join?
p Just come to the meetings, no formal signup or any other obligations are required.  It is recommended to log into this site to create an account.  That will add you to the email list.
p If you would like an outlook reminder you can download one 
    a(href='public/assets/DeveloperCommunity.ics') here
    | . Just open with outlook and save the meeting to your calendar.
div
  .page-header
    h1 Schedule
  p We meet every other Tuesday from 12 to 1:30.

div
  .page-header
    h1 Sponsors (free stuff!)
  b
    p To be eligible to win prizes you must be an active member (have an active account on this site and come to some meetings).  If you are interested in any of these prizes please 
      a(href='#!/contact') contact me
      | .
  div
    a(href='http://www.pluralsight.com') 
      img(src='public/assets/images/pluralsight-logo-orange-500x155-v1.png')
    p Free monthly membership to pluralsight.

  br

  div 
    a(href='http://www.microsoftpressstore.com/') 
      img(src='public/assets/images/300px-Microsoft_2012.svg.png')

    br
    br

    a(href='http://www.oreilly.com') 
      img(src='public/assets/images/ORM_logo_box75_hex.jpg')
    p Microsoft with the help of O'Reilly provides free ebook vouchers.