br
br
br
.page-header
    h1 About
p The developer community is a group of developers that get together over lunch every other Tuesday and do stuff that interests us.  This could include things like watching tech videos, roundtable discussions on topics people find interesting, book club, sharing cool hobbies people do in the spare time, tutorial on how to write the next great Android app, or really anything else you can come up with.
.page-header
    h1 How do I join?
p Just come to the meetings, no formal signup or any other obligations are required.  Make sure to bring your lunch so you can eat during the meeting and not go hungry!  If you want to be added to the meeting invite and mailing list  
    a(href='#!/contact') let me know
    | .
div
  .page-header
    h1 Sponsors
  div
    a(href='http://www.pluralsight.com') 
      img(src='public/assets/images/pluralsight-logo-orange-500x155-v1.png')
    p Pluralsight has provided us with a free monthly membership to give away at every meeting.

  br

  div 
    a(href='http://www.microsoftpressstore.com/') 
      img(src='public/assets/images/300px-Microsoft_2012.svg.png')

    br
    br

    a(href='http://www.oreilly.com') 
      img(src='public/assets/images/ORM_logo_box75_hex.jpg')
    p Microsoft with the help of O'Reilly has given us a free ebook voucher to give away evey meeting.