div(style="margin-left: {{comment.hierarchy * 50}}px")
  div
    span.author {{ comment.author }} 
    span.less-important  - 
    time.timeago.less-important(datetime="{{comment.time.toISOString()}}")
    div.data {{ comment.data }}
    div.less-important
      ul.horizontal-list
        //li 
          button.link-button.link-button-hoverable
            span.glyphicon.glyphicon-chevron-up
        //li 
          button.link-button.link-button-hoverable 
            span.glyphicon.glyphicon-chevron-down
        li
          button.link-button.link-button-hoverable Edit
        li
          button.link-button.link-button-hoverable Reply
    div
      form
        textarea.form-control.form-control-top.resize-vertical(placeholder="Post a reply...")
        .input-group
          span.input-group-addon.form-control-bottom
            input(type="checkbox" id="AnonymousComment" ng-model="isAnonymous")
            span  Anonymous
          input.form-control(type="text" readOnly="true" ng-model="author")
          span.input-group-btn.form-control-bottom
            button.btn.btn-default.form-control-bottom(type="button") Reply