div
  form
    a(href="" ng-click="togglePreview()") {{preview ? 'Hide Preview' : 'Show Preview'}}
    span  - Comments are rendered as html.
    div.commentPreview.form-control-top(ng-bind-html="data" ng-class="preview ? '' : 'hideCommentForm'")
    textarea.form-control.form-control-top.resize-vertical(placeholder="{{placeholder}}" ng-model="data" ng-class="preview ? 'hideCommentForm' : ''")
    div.form-control-bottom.form-control-footer
      div.input-group-addon.form-control-bottom(style="width: 100%; text-align: left")
        div.container-fluid
          div.row
            div.col-md-4
              input(type="radio" name="AuthorType" value="{{user}}" ng-model="SelectedAuthor") 
              span {{user}}
            div.col-md-4
              input(type="radio" name="AuthorType" value="Guest" ng-model="SelectedAuthor") 
              span Anonymous 
      div.input-group-btn.form-control-bottom-btn
        button.btn-lg.btn-default.form-control-bottom-btn(type="button" ng-click="post()") {{button}}