div(style="margin-left: {{comment.hierarchy * 50}}px")
  div
    span.author {{ comment.author }} 
    span.less-important  - 
    time.timeago.less-important(datetime="{{comment.time}}")
    div.data(id="comment-readonly-{{comment.id}}")
      div(ng-bind-html="comment.data")
    my-comment-form.hideCommentForm(placeholder="", user="author", button="Post", id="comment-edit-{{comment.id}}" comment="comment", mode="edit")
    div.less-important(ng-show="controller.isLoggedIn()")
      ul.horizontal-list
        li( ng-show="author === '{{comment.author}}' || controller.isAdmin()" )
          my-comment-edit(comment-id="{{comment.id}}" text="Edit")
        li
          my-comment-reply(comment-id="{{comment.id}}" )
    div(style="margin-left: {{comment.hierarchy + 1 * 50}}px")
      my-comment-form.hideCommentForm(placeholder="Post a reply", user="author", button="Post", id="comment-reply-{{comment.id}}" comment="comment")
