div
  form
    textarea.form-control.form-control-top.resize-vertical(placeholder="{{placeholder}}")
    div.form-control-bottom.form-control-footer
      span.input-group-addon.form-control-bottom(style="width: 100%; text-align: left")
        input(type="radio" name="AuthorType" value="User" checked="checked") 
        span(style="margin-right: 25px")  {{user}}
        input(type="radio" name="AuthorType" value="Anonymous") 
        span  Anonymous 
      span.input-group-btn.form-control-bottom
        button.btn.btn-default.form-control-bottom(type="button") {{button}}