.modal.fade(id='AddTopicModal' aria-hidden='true' role='dialog' ng-controller='AddMeetingController as controller')
  .modal-dialog.modal-lg
    .modal-content.highlight
      button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      form(role='form')
        if admin
          ul.nav.nav-tabs(role="tablist")
            li.active
              a(href='#meetingInfo' role="tab" data-toggle="tab") Info
            li
              a(href='#meetingAdmin' role="tab" data-toggle="tab") Admin
        div.tab-content
          div.tab-pane.active(id="meetingInfo")
            h1 Meeting Idea
            .form-group
              label Title
              input.form-control(type='text' ng-model='meeting.description' ng-disabled="!canEdit")
            .form-group(ng-show="canEdit")
              label Details
              textarea.form-control.ckeditor(id="newIdeaDetails" type='text' ng-model='meeting.details')

          div.tab-pane(id="meetingAdmin")
            .form-group
              Label Date
              p Only set this if the meeting is scheduled or has already occured.  Voting will be closed when this happens.
              input.form-control.datepicker(type='text' ng-model='meeting.date')
              label
                input(type="checkbox" ng-model="sendEmail")
                | Send email about scheduled meeting?
              .form-group(nt-enabled="sendEmail")
                label Special message to send in email (Optional)
                textarea.form-control(ng-model="schedMeetingMessage" type='text')
        button.btn.btn-lg.btn-success.add-modal-button(type='button' ng-click='controller.AddMeeting()') Submit
        span  
        button.btn.btn-lg.btn-danger.add-modal-button(type='button' data-dismiss='modal') Cancel
        span(style="margin-left: 20px; color: red") {{errorMessage}}

.jumbotron(style="padding: 50px 320px")
  include HomeCarousel.jade
  //.carousel.slide(id="info-carousel" data-ride='carousel' style="padding-top: 20px")

    .carousel-inner
      include HomeCarousel.jade

    a.left.carousel-control(href="javascript: void();" data-target="#info-carousel" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="javascript: void();" data-target="#info-carousel" data-slide="next")
      span.glyphicon.glyphicon-chevron-right
      
include MeetingIdeas
