br
br
br
div.hidden(ng-controller='MeetingController as controller')
  .page-header
    h1 {{meeting.description}}
    div(ng-show="meeting.date != null")
      div(ng-show="meetingInFuture")
        div(ng-hide="loggedIn")
          p(style="color: red") Log in to RSVP!
        div(ng-show="loggedIn")
          span I am: 
          input(toggle-checkbox class="form-control schedule" ng-model="going" ng-change='controller.checkChanged()' type="checkbox" data-on="going" data-off="not going" data-onstyle="success" data-offstyle="danger" data-size="small" data-width="90")
      p {{peopleGoing}}
  div
    .media
      .pull-left(ng-show="meeting.date == null")
        button.btn.btn-success.vote-button(class='vote-btn-{{meeting._id}}' type='button' ng-click='meeting.Vote()' ng-hide="meeting.HasUserVoted()")
          span.glyphicon.glyphicon-arrow-up
          span  Vote
        button.btn.btn-danger.vote-button(class='vote-btn-{{meeting._id}}' type='button' ng-click='meeting.RemoveVote()' ng-show="meeting.HasUserVoted()")
          span.glyphicon.glyphicon-remove-sign
          span  Remove
        .vote
          div.vote-count {{meeting.vote_count}}
          span.vote-description  votes

      .media-body
          div(ng-bind-html="meeting.details")
          div(ng-show="meeting.date != null")
            p Meeting date: {{meeting.date}}
    if disqus.enabled
      dir-disqus(disqus-shortname="#{disqus.shortname}" disqus-title="{{meeting.description}}" disqus-identifier="meeting/{{meeting._id}}", disqus-url="http://g/pnddevcommunity/#!/meeting/{{meeting._id}}" ready-to-bind="{{ contentLoaded }}")
    else
      my-comments(comment-id="meeting-{{meeting._id}}")
