br
br
br
div(ng-controller='PastMeetingsController as controller')
  div(ng-repeat='meeting in meetings | orderBy : sortMeeting : true')
    .media
      .media-body
        .panel.panel-primary
          .panel-heading
            a(href='#!/meeting/{{meeting._id}}')
              h3.panel-title {{meeting.description}}
          .panel-body.panel-body-collapse
            p Meeting date: {{meeting.date}}
            div(ng-bind-html="meeting.details")
          div.readmore-panel
            a.readmore-link.readmore-link-more(href='#' onclick="showMore(this);") More
            a.readmore-link.readmore-link-less(href='#' onclick="showLess(this);" style="display: none;") Less

