br
br
br
div(ng-controller="UserSettingsController as controller")
  .page-header
      h1 Settings
  div
    h5 Current user {{settings.email}}
    br
    form(ng-show="controller.isLoggedIn()")
      .form-group
        input(type='checkbox' ng-model='settings.NewMeetingEmailNotification') 
        span  Receive email notification when new meeting idea is submitted.
      .form-group
        input(type='checkbox' ng-model='settings.NewStoryEmailNotification') 
        span  Receive email notification when new story is submitted.
      button.btn.btn-lg.btn-success.settings-btn(ng-click="controller.Submit()") Submit
      span(style="margin-left: 20px; color: red") {{errorMessage}}
      span(style="margin-left: 20px; color: green") {{successMessage}}
    .logged-out(ng-show="!controller.isLoggedIn()")
      p You must log in to see settings.