br
br
br
div(ng-controller="WinnerController as controller")
  .page-header
    div(ng-show="RegistrationOpen")
      h1 Register at 
      a(href="http://g/pdcwin")
        h1 http://g/pdcwin
    div(ng-hide="RegistrationOpen")
      h1 Registration is now closed

  div(ng-show="RegistrationOpen")
    div(id="qrCode" data="#{url}/#!/win")
    
  div(ng-hide="RegistrationOpen")
    br
    br
    br
    br
    br
    div.center(ng-show="hasWinner")
      h1 {{Prize}} WINNER:
      h1 {{Person}}