br
br
br
.page-header
    h1 About
p The developer community is a group of developers that get together over lunch periodically and do stuff that interests us.  This could include things like watching tech videos, roundtable discussions on topics people find interesting, book club, sharing cool hobbies people do in the spare time, tutorial on how to write the next great Android app, or really anything else you can come up with.
.page-header
    h1 How do I join?
p Just come to the meetings, no formal signup or any other obligations are required.  Make sure to bring your lunch so you can eat during the meeting and not go hungry!  If you want to be added to the meeting invite and mailing list  
    a(href='#!/contact') let me know
    | .