.modal.fade(id='AddTopicModal' aria-hidden='true' role='dialog' ng-controller='AddMeetingController as controller')
  .modal-dialog.modal-lg
    .modal-content.highlight
      button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      form(role='form')
        if admin
          ul.nav.nav-tabs(role="tablist")
            li.active
              a(href='#meetingInfo' role="tab" data-toggle="tab") Info
            li
              a(href='#meetingAdmin' role="tab" data-toggle="tab") Admin
        div.tab-content
          div.tab-pane.active(id="meetingInfo")
            h1 Meeting Idea
            .form-group
              label Title
              input.form-control(type='text' ng-model='meeting.description')
            .form-group
              label Details
              textarea.form-control.ckeditor(id="newIdeaDetails" type='text' ng-model='meeting.details')

          div.tab-pane(id="meetingAdmin")
            .form-group
              Label Date
              p Only set this if the meeting is scheduled or has already occured.  Voting will be closed when this happens.
              input.form-control.datepicker(type='text' ng-model='meeting.date')

        button.btn.btn-lg.btn-success.add-modal-button(type='button' ng-click='controller.AddMeeting()') Submit
        span  
        button.btn.btn-lg.btn-danger.add-modal-button(type='button' data-dismiss='modal') Cancel
        span(style="margin-left: 20px; color: red") {{errorMessage}}

.jumbotron
  .carousel.slide(id="info-carousel" data-ride='carousel' style="padding-top: 20px")

    .carousel-inner
      include HomeCarousel.jade

    a.left.carousel-control(href="javascript: void();" data-target="#info-carousel" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="javascript: void();" data-target="#info-carousel" data-slide="next")
      span.glyphicon.glyphicon-chevron-right
      
div(ng-controller='HomeController as controller')
  .page-header
    h1 Meeting Ideas  
      button.btn.btn-info.add-button(type='button' ng-click='controller.AddTopic()')
        span.glyphicon.glyphicon-plus
        span   Add

  div(ng-repeat='meeting in meetings')
    .media
      .pull-left
        button.btn.btn-success.vote-button(class='vote-btn-{{meeting._id}}' type='button' ng-click='meeting.Vote()' ng-hide="meeting.HasUserVoted()")
          span.glyphicon.glyphicon-arrow-up
          span  Vote
        button.btn.btn-danger.vote-button(class='vote-btn-{{meeting._id}}' type='button' ng-click='meeting.RemoveVote()' ng-show="meeting.HasUserVoted()")
          span.glyphicon.glyphicon-remove-sign
          span  Remove
        .vote
          div.vote-count {{meeting.vote_count}}
          span.vote-description  votes

      .media-body
        .panel.panel-primary
          .panel-heading
            .pull-right
              button.editable(ng-click='controller.EditMeeting(meeting)' ng-show="meeting.isUserAuthor()")
                span.glyphicon.glyphicon-edit
              if admin
                button.editable(ng-click='controller.EditMeeting(meeting)' ng-hide="meeting.isUserAuthor()")
                  span.glyphicon.glyphicon-cog
            a(href='#!/meeting/{{meeting._id}}')
              h3.panel-title {{meeting.description}}
          .panel-body
            div(ng-bind-html="meeting.details")
