.item.meeting.active
  .row
    .col-md-12
      h3 
        a(href='http://dimecasts.net/Casts/ByTag/SOLID%20Principle') A 5 part video series discussing all of the SOLID principles.
      p.jumbotron-small-text(style='white-space:pre;')
        | S - Single Responsibility Principle
        | O - Open/Closed Principle
        | L - Liskov Substitution Principle
        | I - Interface Segregation Principle
        | D - Dependency Inversion Principle
  .carousel-caption
    p August 12

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="http://player.vimeo.com/video/43659004" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/43659004') Robert C. Martin - What is OO? Where did it come from? Where is it going?
      p.jumbotron-small-text
        | It's been over fifty years since OO was invented. What is it? In this talk Uncle Bob goes back over the history of how and why OO was invented, the claims that were made about it and the reality of what we finally realized.
  .carousel-caption
    p July 29th

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="//player.vimeo.com/video/43592685" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/43592685') Uncle Bob - Single Responsibility Principle
      p.jumbotron-small-text
        | Let's do a deep dive into the first of the SOLID principles. What is a responsibility? Why should it be single? How do we make it single? We'll examine all these issues in extreme detail. We'll look at some old code to see whether it conforms or not. We'll also look at various design patterns and strategies that help us conform to this principle.
  .carousel-caption
    p July 15th

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="//player.vimeo.com/video/97315969" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/97315969') Strangling the Legacy out of an Application
      p.jumbotron-small-text
        | An old system with a basic architecture from a distant past. New functionality built throughout the years with the then state of the art technology. On top of that some cosmetics to make the interface look modern, but in reality the application is rotten on the inside and about to fall apart any day. That’s a common work environment for many developers.
  .carousel-caption
    p July 1st

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="//player.vimeo.com/video/12643301" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/12643301') Clean Code: Functions
      p
        | Get ready for a challenge as Robert Martin dives deep into the topic of clean Java code by examining what makes a good function. In this talk you will look at a lot of code; some good and some bad.
  .carousel-caption
    p June 17th

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="//www.youtube-nocookie.com/embed/p0O1VVqRSK0" frameborder="0" allowfullscreen)
    .col-md-8
      h3 
        a(href='https://www.youtube.com/watch?v=p0O1VVqRSK0') Demanding Professionalism in Software Development
      p
        | Robert C. Martin explains in his own unique style why professionalism is so important for software development teams and their managers.
  .carousel-caption
    p June 5th
