if showTweet
  .item.meeting.active
    .row
      .col-md-12
          h3 Random Tweet
          div!= tweetHtml

- var klass = (showTweet ? undefined : 'active')
.item.meeting(class=klass)
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="http://player.vimeo.com/video/43659004" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 Two videos by Uncle Bob!
      h4 
        a(href='http://vimeo.com/43659004') Specification Discipline
      p.jumbotron-small-text
        | Uncle Bob talks about the "XP Developer Bill of Rights." This covers the rights programmers have when doing their job, but also the responsibilities that go along with those rights.
      h4 
        a(href='http://www.youtube.com/watch?v=OIHvp7WzuH0') Interview
      p.jumbotron-small-text Interview of Uncle Bob by VKSI magazine.
  .carousel-caption
    p Next Meeting (Aug 26th)

.item.meeting
  .row
    .col-md-12
      h3 New! Archive section
      p.jumbotron-small-text
        | Check out the archive section and relive all of your favorite videos, or catch up ones you missed!  You can also now go to each archived meeting and leave comments discussing how much you loved or hated the video.
        br
        center
          img(src="public/assets/images/NewArchives.png")

.item.meeting
  .row
    .col-md-12
      h3 
        a(href='http://dimecasts.net/Casts/ByTag/SOLID%20Principle') A 5 part video series discussing all of the SOLID principles.
      p.jumbotron-small-text(style='white-space:pre;')
        | S - Single Responsibility Principle
        | O - Open/Closed Principle
        | L - Liskov Substitution Principle
        | I - Interface Segregation Principle
        | D - Dependency Inversion Principle
  .carousel-caption
    p August 12

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="http://player.vimeo.com/video/43659004" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/43659004') Robert C. Martin - What is OO? Where did it come from? Where is it going?
      p.jumbotron-small-text
        | It's been over fifty years since OO was invented. What is it? In this talk Uncle Bob goes back over the history of how and why OO was invented, the claims that were made about it and the reality of what we finally realized.
  .carousel-caption
    p July 29th

.item.meeting
  .row
    .col-sm-4.visible-lg
      div
        iframe(src="//player.vimeo.com/video/43592685" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .col-md-8
      h3 
        a(href='http://vimeo.com/43592685') Uncle Bob - Single Responsibility Principle
      p.jumbotron-small-text
        | Let's do a deep dive into the first of the SOLID principles. What is a responsibility? Why should it be single? How do we make it single? We'll examine all these issues in extreme detail. We'll look at some old code to see whether it conforms or not. We'll also look at various design patterns and strategies that help us conform to this principle.
  .carousel-caption
    p July 15th
